section.service-section {
  width: 100%;
  height: calc(500px + 7vh);
  margin-top: calc(5vh + 4rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("../../assets/serviceSecBg.jpg");
  background-size: cover;
  background-attachment: fixed;
}
section.service-section h1 {
  font-size: calc(3vw + 1rem);
  text-align: center;
  padding: 2rem;
  position: relative;
  color: var(--tertiary-color);
}
section.service-section h1::before {
  content: "";
  position: absolute;
  bottom: -2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 30%;
  height: 7px;
  background-color: var(--quinary-color);
}
div.service-item {
  text-align: center;
  padding: calc(1vw + 3rem);

  border-radius: 1px;
  margin: calc(1vw + 1rem);
  user-select: none;
  transition: border 0.3s ease;
  box-shadow: 3px 2px 8px var(--primary-color);
  border-radius: 2rem;
  background-color: rgba(0, 0, 0, 0.362);
  backdrop-filter: blur(5px);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
div.service-item:hover {
  box-shadow: 10px 10px 25px var(--primary-color);
}
.fa-trophy,
.fa-gallery,
.fa-flag {
  font-size: calc(5rem + 1vw);
  margin: calc(1vw + 1rem);
  /* color: var(--quinary-color); */
  fill: var(--quinary-color);
}
.service-text {
  font-size: calc(1vw + 1rem);
  text-align: left;
  color: var(--tertiary-color);
}
p.service-text a {
  color: var(--primary-color);
  font-size: calc(1.5vw + 1rem);
  text-decoration: none;
  font-weight: bold;
}
p.service-text a:hover {
  cursor: pointer;
  text-decoration: underline;
}
@media screen and (min-width: 1920px) {
  section.service-section {
    width: 100%;
    height: calc(700px + 7vw);
    padding: 3vw;
  }
}
@media screen and (max-width: 800px) {
  section.service-section {
    width: 100%;
    height: 100%;
    margin-top: 0rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-size: contain;
  }
  section.service-section h1 {
    font-size: calc(3vw + 1rem);
    font-weight: 600;
    padding: 2.5rem;
    color: var(--tertiary-color);
  }
  section.service-section h1::before {
    height: 5px;
    bottom: 0;
  }
}
