/* Import Fonts */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");
/* Main Styling */
#main-nav {
  width: 100%;
  height: calc(7rem + 5vh);

  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 4;
  background-color: var(--primary-color);
  /* background-color: #00285e; */
}
div.logo-manchester {
  width: 100%;
  height: 90%;
  margin-left: 3vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.logo {
  width: calc(6rem + 2vw);
  height: calc(6rem + 2vw);
}
div.logo-headline {
  text-transform: uppercase;
  color: var(--secondary-color);
  font-size: calc(3rem + 2vh);
  font-family: "Gotham Narrow", sans-serif;
  margin-right: 3rem;
  margin-left: 3rem;
}
/* NavLists */
#main-nav ul {
  display: flex;
  align-items: center;
  height: 100%;
  margin-right: 3vw;
}
#main-nav ul li {
  list-style: none;
  margin-left: calc(1rem + 2vw);
  font-size: calc(1rem + 1vh);

  position: relative;
  padding-bottom: 1rem;
}
.nav-list {
  color: var(--secondary-color);
  text-decoration: none;
}
.nav-list--item::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: cyan;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.45s ease-in-out;
}
.nav-list:hover {
  color: var(--secondary-color);
}

.nav-list--item:hover::before {
  transform: scaleX(1);
}

/* Hamburger */
div.hamburger {
  width: calc(6vw + 1rem);
  height: calc(3vh + 1rem);

  z-index: 2;

  cursor: pointer;

  display: none;
}

/* Responsive for 750px *****************************/
@media screen and (max-width: 750px) {
  nav#main-nav {
    overflow: hidden;
  }
  #main-nav ul li {
    font-size: 3rem;
  }
  /* Hamburger */
  div.hamburger {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
    /* position: relative; */
    overflow: visible;
    position: fixed;
    top: 3%;
    right: 6%;
  }
  div.line {
    width: 100%;

    background-color: var(--secondary-color);
    transition: all 0.5s ease-in-out;
  }

  div.line-1 {
    height: 0.3rem;

    margin-bottom: 5px;
    top: 1rem;
  }
  div.line-2 {
    height: 0.15rem;
  }
  div.line-1.clicked {
    position: absolute;
    top: 30px;
    width: 75%;
    transform: rotateZ(410deg);
    height: 0.15rem;
  }
  div.line-2.clicked {
    position: absolute;
    width: 75%;
    transform: rotateZ(670deg);
    top: 30px;
  }

  /* Navlists */
  ul.nav-list__container {
    position: fixed;
    top: 0;
    right: -40rem;
    width: 30rem;
    height: 100vh;
    background-color: rgba(125, 204, 240, 0.774);
    backdrop-filter: blur(7px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    transition: all 1s ease-in-out;
    z-index: 2;
    margin-top: 0;
  }
  ul.nav-list__container.mobile {
    transform: translateX(-120%);
  }
  li.nav-list--item {
    margin-left: 3rem;
    margin-bottom: 2.5rem;
  }
  a.nav-list {
    font-weight: 600;
    font-size: 1.3rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    letter-spacing: 2px;
  }
  div.logo-headline {
    font-size: calc(1.5rem + 1vh);
  }
}
@media screen and (max-width: 450px) {
  div.logo-headline {
    font-size: calc(1.2rem + 1vh);
  }
  div.hamburger {
    top: 4%;
  }
}
