/* Import Fonts */
@import url("https://fonts.googleapis.com/css2?family=Creepster&display=swap");
/* Main Styling */
div.join-page {
  width: 100%;
  height: 100%;
}
div.join-page_cover {
  margin-top: calc(7rem + 5vh);
  width: 100%;
  height: 70vh;
  position: relative;
}
div.join-page_cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
div.join-page_cover p {
  font-size: calc(3vh + 4rem);
  color: var(--off-white);
  position: absolute;
  bottom: 0;
  text-align: center;
  padding: 6rem 10rem;
  background-color: rgba(0, 0, 0, 0.39);
}
div.join-page_cover p::before {
  content: "";
  width: 100%;
  height: 10%;
  position: absolute;
  top: -10%;
  left: 0;
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.39));
}
div.join-page_cover p span {
  color: var(--primary-color);
  font-weight: 700;
}
/* OFFER-PAGE */
div.join-page_offer {
  width: 100%;
  height: 100%;
  /* border: 3px solid red; */
  position: relative;
  display: flex;
  flex-direction: column;
}
div.join-page_offer h2 {
  text-align: center;
  color: var(--secondary-color);
  font-size: calc(3vh + 2rem);
  margin: 3.5vh auto;
  padding: 0rem 20vw;
  position: relative;
}
div.join-page_offer h2::before {
  content: "";
  position: absolute;
  width: 15%;
  height: 7px;
  bottom: -30%;
  left: 43%;
  background-color: var(--secondary-color);
}
div.join-page_thirtyp {
  width: 60%;
  height: 100%;
  /* border: 3px solid green; */
  position: relative;
}

div.join-page_thirtyp img {
  width: 150px;
  height: 120px;
  position: absolute;
  right: 30%;
  bottom: -105%;
}

div.join-page_thirtyp--text {
  width: 100%;
  height: 50%;
  /* border: 3px solid blue; */
}
div.join-page_thirtyp--text h3 {
  font-size: calc(1rem + 2vh);
  /* text-align: center; */
  margin: 3vh 3vh 3vh 6vh;
  color: var(--secondary-color);
}
div.join-page_thirtyp--text p {
  font-size: calc(1rem + 1vw);
  margin: 2vh 5vw;
  color: var(--secondary-color);
}
div.join-page_thirtyp--text p i {
  color: var(--quinary-color);
}
div.discount-text {
  color: red;
  /* border: 3px solid red; */
  width: 60%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 15vw 0rem 4vw;
  background-image: url("https://i.ibb.co/z78xxQM/toppng-com-free-download-blue-paint-stroke-744x263.png");
  background-repeat: no-repeat;
}
div.discount-text p {
  color: var(--off-white);
  font-size: calc(1.5vh + 1.5rem);
  font-family: "Creepster", cursive;
}
/* For Mobile (up to 750px) */
@media screen and (max-width: 750px) {
  div.join-page_cover p {
    font-size: calc(3vh + 1.5rem);
    bottom: 5%;
    padding: 6rem 2rem;
    background-color: rgba(0, 0, 0, 0.39);
  }
}
