div.gallery {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 12rem 2rem;
  background-color: var(--secondary-color);
  /* background-color: #ddd; */
}
div.image_container-gallery {
  padding: 2rem;
  width: calc(25vw + 8rem);
  height: calc(30vh + 8rem);
  margin: 0rem 1rem;
  flex-grow: 0;
  clip-path: polygon(
    20% 0%,
    80% 0%,
    100% 20%,
    100% 80%,
    80% 100%,
    20% 100%,
    0% 80%,
    0% 20%
  );
  position: relative;
}
div.image_container-gallery img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: filter 0.4s ease;
  transition: all 0.5s ease-in-out;
}
.image-description_gallery {
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0;
  left: 0;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: all 0.5s ease-in-out;
  background-color: rgba(49, 52, 53, 0.753);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
div.image_container-gallery:hover img {
  transform: scale(1.1);
  transform-origin: center;
}
div.image_container-gallery:hover .image-description_gallery {
  transform: scaleY(1);
}
.image-description_gallery p {
  font-size: calc(1.5vw + 0.5rem);
  color: var(--tertiary-color);
  text-align: center;
  text-transform: uppercase;
}
/* FOR MOBILE */
@media screen and (max-width: 750px) {
  div.image_container-gallery {
    width: calc(70vw + 8rem);
  }
  .image-description_gallery {
    padding: 5rem;
  }
  .image-description_gallery p {
    font-size: 1.5rem;
  }
}
