div.supporters-tweet {
  width: 100%;
  height: 80vh;
}
div.supporters-tweet h1 {
  font-size: calc(2rem + 2vw);
  position: relative;
  text-align: center;
  margin: 6rem auto 8rem;
  font-weight: 600;
  color: var(--secondary-color);
}
div.supporters-tweet h1::before {
  content: "";
  position: absolute;
  bottom: -40%;
  left: 40%;
  width: 20%;
  height: 7px;
  background-color: var(--secondary-color);
}
div.tweet__container {
  width: 100%;
  height: calc(30vh + 10rem);

  padding: 5rem 8rem;
}
div.tweet__container div {
  background-color: var(--quinary-color);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10rem;
  box-shadow: 5px 5px 15px grey;
}
div.tweet__container div img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  /* padding: 2rem; */
  margin: 3rem;
  object-fit: cover;
}
div.tweet__container div p {
  font-size: calc(1vw + 1rem);
  color: var(--tertiary-color);
}
@media screen and (max-width: 750px) {
  div.supporters-tweet {
    width: 100%;
    height: 65vh;
  }
  div.supporters-tweet h1 {
    margin: 3rem auto 4rem;
  }
  div.supporters-tweet h1::before {
    height: 5px;
  }
  div.tweet__container {
    padding: 2rem;
  }
  div.tweet__container div {
    flex-direction: column;
    padding: 4rem;
    box-shadow: 5px 5px 15px grey;
  }
  div.tweet__container div img {
    width: 90px;
    height: 90px;

    margin: 2rem 3rem;
  }
  div.tweet__container div p {
    font-size: calc(1vw + 1rem);
  }
}
