section.supporters-opinion__section {
  width: 100%;
  height: 100vh;
  background-color: var(--off-white);
}
section.supporters-opinion__section h1 {
  font-size: calc(3vw + 1rem);
  color: var(--secondary-color);
  position: relative;
  margin: 10rem 5rem 5rem;
  text-align: center;
}
section.supporters-opinion__section h1::before {
  content: "";
  width: 15%;
  height: 7px;
  background-color: var(--secondary-color);
  position: absolute;
  bottom: -40%;
  left: 40%;
}
div.supporters-opinion__carousel {
  width: 100vw;
  height: 60%;
  /* border: 3px solid red; */
  display: flex;
  align-items: center;

  overflow: hidden;
}
div.tweet-supporters__container {
  min-width: 70vw;
  height: 60%;

  /* border: 4px solid chartreuse; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 10rem;
}
div.tweet-supporters__container img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 5rem 4rem 5rem 5rem;
}
div.tweet-supporters__container p {
  font-size: 2rem;
  color: var(--secondary-color);
  padding: 2rem;
}
